<template-include src="./basic-template-layout.html" param-title="Blog">
  <h1>Blog index</h1>
  <ul id="blog-list"></ul>
  <script defer>
    const blog_list = document.getElementById("blog-list");
    const blog_entries = Object.entries(_skeleton.blog.subpages);
    // Probably want to sort blog_entries here.
    for (const [path, blog_entry] of blog_entries) {
        blog_list.innerHTML += `<li><a href="/blog/${path}">${blog_entry.params.title}</a></li>`;
    }
  </script>
</template-include>
